<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hospital.mapper.SurgeryMapper">

    <resultMap id="orderSurgeryMap" type="com.hospital.pojo.Surgery">
        <id property="oId" column="o_id" />
        <result property="pId" column="pId" />
        <result property="dId" column="d_id" />
        <result property="cId" column="c_id" />
        <result property="sPrestartTime" column="s_prestart_time" />
        <result property="sStartTime" column="s_start_time" />
        <result property="sPretime" column="s_pretime" />
        <result property="sEndTime" column="s_end_time" />
    </resultMap>
    <select id="findSurgeryByDid" resultMap="orderSurgeryMap">
        SELECT o_id,pId,dId,c_id,s_prestart_time,s_start_time,s_pretime,s_end_time
        from new_view
        where dId=#{dId}
        ORDER BY o_register_time
    </select>
    <update id="releaseSurgery" parameterType="String">
        update surgery set s_end_time=CURRENT_TIMESTAMP where c_id=#{cId} and s_end_time is null
    </update>
</mapper>